.TodoCounter {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: normal;
  }
  
  .TodoCounter span {
    font-weight: bold;
  }

  .TodoCounter #messageCompletedTodos{
    text-align: left; 
    font-family: Arial; 
    font-size: 30px; 
    color: #4caf50; 
    text-shadow: 0px 0px 9px;
  }

  @media(max-width:450px){
    .TodoCounter{
      width: 310px;
      font-size: 20px;
    }
  }